In [1]:
import pandas as pd

#2021데이터
df2021 = pd.read_excel("2021_정보통신표준용어_공지사항.xlsx", engine = "openpyxl")
df2021

,표제어,원어,약어,동의어
0,모델옵스,ModelOps,NaN,NaN
1,데이터 잉여 중복,data redundancy,NaN,NaN
2,재현 데이터,synthetic data,NaN,합성 데이터
3,그래프형 데이터베이스,graph database,NaN,NaN
4,데이터옵스,DataOps,NaN,NaN
...,...,...,...,...
120,전도 내성,Conducted Immunity,CI,NaN
121,클라우드 PC,Cloud PC,NaN,NaN
122,서비스형 데스크톱,Desktop as a Service,DaaS,NaN
123,증강 현실,Augmented Reality,AR,NaN
124,응용 프로그램,application program,NaN,"응용 소프트웨어, 애플리케이션(application), 앱(app)"

In [2]:
df2021 = df2021[['표제어', '원어']]
df2021

             표제어                    원어
0           모델옵스              ModelOps
1      데이터 잉여 중복       data redundancy
2         재현 데이터        synthetic data
3    그래프형 데이터베이스        graph database
4          데이터옵스               DataOps
..           ...                   ...
120        전도 내성    Conducted Immunity
121      클라우드 PC              Cloud PC
122    서비스형 데스크톱  Desktop as a Service
123        증강 현실     Augmented Reality
124      응용 프로그램   application program

[125 rows x 2 columns]

In [3]:
#2022데이터
df2022 = pd.read_excel("2022_정보통신표준용어_공지사항.xlsx", engine = "openpyxl")
df2022

,표제어,원어,약어,동의어
0,수소경제,hydrogen economy,NaN,NaN
1,탄소중립,carbon neutrality,NaN,carbon zero
2,ESG,"Environmental, Social and corporate Governance",NaN,"환경, 사회, 기업 지배 구조"
3,넷제로,net zero,NaN,"기후중립(climate neutrality), 순배출 제로"
4,비트 오류율,Bit Error Rate,BER,비트 에러율
...,...,...,...,...
122,생성형 인공지능,generative AI,NaN,NaN
123,뉴로모픽 컴퓨팅,neuromorphic computing,NaN,신경 모방 컴퓨팅
124,뉴로모픽 프로세서,neuromorphic processor,NaN,신경 모방 프로세서
125,데이터세트,dataset,NaN,데이터 세트(data set)
126,데이터,data,NaN,자료

In [4]:
df2022 = df2022[['표제어', '원어']]
df2022

           표제어                                              원어
0         수소경제                                hydrogen economy
1         탄소중립                               carbon neutrality
2          ESG  Environmental, Social and corporate Governance
3          넷제로                                        net zero
4       비트 오류율                                  Bit Error Rate
..         ...                                             ...
122   생성형 인공지능                                   generative AI
123   뉴로모픽 컴퓨팅                          neuromorphic computing
124  뉴로모픽 프로세서                          neuromorphic processor
125      데이터세트                                         dataset
126        데이터                                            data

[127 rows x 2 columns]

In [5]:
#2023 데이터
df2023 = pd.read_excel("2023+정보통신용어사전+수록+용어.xlsx", engine = "openpyxl")
df2023

,2023 정보통신용어 목록,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,No,구분,표제어,원어,약어
3,1,신규,중앙화금융,Centralized Finance,CeFi
4,2,신규,탈중앙화금융,Decentralized Finance,DeFi
...,...,...,...,...,...
120,118,개정,셀간 간섭 조정,Inter-Cell Interference Coordination(ICIC),ICIC
121,119,개정,셀간 간섭 조정 향상,enhanced Inter-Cell Interference Coordination(...,eICIC
122,120,개정,다중 입력 다중 출력,Multiple Input Multiple Output(MIMO),MIMO
123,121,개정,단일 사용자 MIMO,Single User Multiple Input Multiple Output(SU-...,SU-MIMO
124,122,개정,다중 사용자 MIMO,Multi-User Multiple Input Multiple Output(MU-M...,MU-MIMO

In [6]:
df2023 = df2023[['Unnamed: 2', 'Unnamed: 3']]
df2023

       Unnamed: 2                                         Unnamed: 3
0             NaN                                                NaN
1             NaN                                                NaN
2             표제어                                                 원어
3           중앙화금융                                Centralized Finance
4          탈중앙화금융                              Decentralized Finance
..            ...                                                ...
120      셀간 간섭 조정         Inter-Cell Interference Coordination(ICIC)
121   셀간 간섭 조정 향상  enhanced Inter-Cell Interference Coordination(...
122  다중 입력 다중 출력                Multiple Input Multiple Output(MIMO)
123   단일 사용자 MIMO  Single User Multiple Input Multiple Output(SU-...
124   다중 사용자 MIMO  Multi-User Multiple Input Multiple Output(MU-M...

[125 rows x 2 columns]

In [7]:
tmp = pd.concat([df2021, df2022], ignore_index=True)
tmp

             표제어                      원어
0           모델옵스                ModelOps
1      데이터 잉여 중복         data redundancy
2         재현 데이터          synthetic data
3    그래프형 데이터베이스          graph database
4          데이터옵스                 DataOps
..           ...                     ...
247     생성형 인공지능           generative AI
248     뉴로모픽 컴퓨팅  neuromorphic computing
249    뉴로모픽 프로세서  neuromorphic processor
250        데이터세트                 dataset
251          데이터                    data

[252 rows x 2 columns]

In [8]:
result = pd.concat([tmp, df2022], ignore_index=True)
result

             표제어                      원어
0           모델옵스                ModelOps
1      데이터 잉여 중복         data redundancy
2         재현 데이터          synthetic data
3    그래프형 데이터베이스          graph database
4          데이터옵스                 DataOps
..           ...                     ...
374     생성형 인공지능           generative AI
375     뉴로모픽 컴퓨팅  neuromorphic computing
376    뉴로모픽 프로세서  neuromorphic processor
377        데이터세트                 dataset
378          데이터                    data

[379 rows x 2 columns]

In [9]:
# NaN이 있는 행 제거
result = result.dropna()
result

             표제어                      원어
0           모델옵스                ModelOps
1      데이터 잉여 중복         data redundancy
2         재현 데이터          synthetic data
3    그래프형 데이터베이스          graph database
4          데이터옵스                 DataOps
..           ...                     ...
374     생성형 인공지능           generative AI
375     뉴로모픽 컴퓨팅  neuromorphic computing
376    뉴로모픽 프로세서  neuromorphic processor
377        데이터세트                 dataset
378          데이터                    data

[376 rows x 2 columns]

In [10]:
result['원어'].to_csv("./result.csv", index = False, header=False)

In [11]:
#chatgpt 활용

In [12]:
import pandas as pd

# 파일 읽기
with open('100.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines()

data = {'instruction':[], 'input': [], 'output': []}

lines[0]

'^ModelOps\n'

In [13]:
#lines 분리 및 정리
for i in range(len(lines)):
    if '^' in lines[i]:
        data['instruction'].append('영어 문장을 한국어로 번역하세요.')
    elif '&' in lines[i]:
        data['input'].append(lines[i].replace('&', '').strip())
    elif '*' in lines[i]:
        data['output'].append(lines[i].replace('*', '').strip())

result_data = pd.DataFrame(data)
result_data

,instruction,input,output
0,영어 문장을 한국어로 번역하세요.,"ModelOps, short for Model Operations, is a met...","ModelOps, 또는 모델 운영(Model Operations)은 머신 러닝 및 ..."
1,영어 문장을 한국어로 번역하세요.,Data redundancy is a condition in which the sa...,데이터 중복(Data Redundancy)은 동일한 데이터가 데이터베이스나 데이터 ...
2,영어 문장을 한국어로 번역하세요.,Synthetic data is artificially generated data ...,합성 데이터(Synthetic Data)는 실제 사건에서 수집된 것이 아니라 알고리...
3,영어 문장을 한국어로 번역하세요.,Graph databases are specialized databases desi...,"그래프 데이터베이스(Graph Database)는 데이터를 그래프 형태로 저장, 관..."
4,영어 문장을 한국어로 번역하세요.,"DataOps is a set of practices, processes, and ...","DataOps는 데이터 관리 워크플로우를 자동화하고 간소화하기 위한 관행, 프로세스..."
...,...,...,...
95,영어 문장을 한국어로 번역하세요.,A High-availability Distributed Object-oriente...,고가용성 분산 객체 지향 플랫폼(High-availability Distribute...
96,영어 문장을 한국어로 번역하세요.,High Speed Downlink Packet Access (HSDPA) is a...,"고속 하향 패킷 접속(High Speed Downlink Packet Access,..."
97,영어 문장을 한국어로 번역하세요.,The GNU General Public License (GPL) is a wide...,"GNU 일반 공중 사용 허가서(GNU General Public License, G..."
98,영어 문장을 한국어로 번역하세요.,A feature phone is a mobile phone that has mor...,피처폰(Feature Phone)은 기본 전화보다 더 많은 기능을 갖추고 있지만 스...
99,영어 문장을 한국어로 번역하세요.,A false positive is an error in data analysis ...,거짓 양성(False Positive)은 데이터 분석이나 테스트에서 결과가 조건이나...

In [16]:
#데이터 백업
result_data.to_json('data.json', orient='records', indent = 4)

In [17]:
#데이터셋 정의
import json

with open('./data.json', 'r') as f:
    dataset = json.load(f)

dataset[:5]

[{'instruction': '영어 문장을 한국어로 번역하세요.',
  'input': 'ModelOps, short for Model Operations, is a methodology that focuses on the deployment, monitoring, and lifecycle management of machine learning and artificial intelligence models in production. It ensures that models are efficiently and effectively integrated into business processes and continuously maintained to meet performance standards.',
  'output': 'ModelOps, 또는 모델 운영(Model Operations)은 머신 러닝 및 인공지능 모델의 배포, 모니터링 및 라이프사이클 관리를 중심으로 하는 방법론으로, 모델이 비즈니스 프로세스에 효율적이고 효과적으로 통합되고 성능 기준을 충족하도록 지속적으로 유지되도록 합니다.'},
 {'instruction': '영어 문장을 한국어로 번역하세요.',
  'input': 'Data redundancy is a condition in which the same piece of data is held in multiple places within a database or data storage system. This can lead to data inconsistency and increased storage costs, but it can also enhance data availability and reliability by providing backup in case of system failure.',
  'output': '데이터 중복(Data Redundancy)은 동일한 데이터가 데이터베이스나 데이터 저장 시스템 내 여러 곳에 저장되는 상태를 의미합니다. 이는 데이터 불일치와 저장 비용 증가를 초래할 수 있지만, 시스템 장애 시 백업을 제공하여 데이터 가용성과 신뢰성을 향상시킬 수 있습니다.'},
 {'instruction': '영어 문장을 한국어로 번역하세요.',
  'input': 'Synthetic data is artificially generated data that is created using algorithms and simulations rather than collected from real-world events. It is used to train machine learning models, test systems, and enhance data privacy by preventing the exposure of real, sensitive information.',
  'output': '합성 데이터(Synthetic Data)는 실제 사건에서 수집된 것이 아니라 알고리즘과 시뮬레이션을 사용하여 인공적으로 생성된 데이터입니다. 머신 러닝 모델 훈련, 시스템 테스트, 그리고 실제 민감한 정보의 노출을 방지하여 데이터 프라이버시를 향상시키기 위해 사용됩니다.'},
 {'instruction': '영어 문장을 한국어로 번역하세요.',
  'input': 'Graph databases are specialized databases designed to store, manage, and query data in the form of graphs. They use nodes to represent entities and edges to represent relationships between these entities, making them ideal for applications involving complex, interconnected data such as social networks, recommendation systems, and fraud detection.',
  'output': '그래프 데이터베이스(Graph Database)는 데이터를 그래프 형태로 저장, 관리 및 쿼리하는 데 특화된 데이터베이스입니다. 이 데이터베이스는 엔티티를 나타내는 노드와 이들 엔티티 간의 관계를 나타내는 엣지를 사용하여, 소셜 네트워크, 추천 시스템, 사기 탐지와 같이 복잡하고 상호 연결된 데이터가 필요한 애플리케이션에 이상적입니다.'},
 {'instruction': '영어 문장을 한국어로 번역하세요.',
  'input': 'DataOps is a set of practices, processes, and technologies aimed at automating and streamlining data management workflows. It emphasizes collaboration, integration, and automation of data flows between data managers and consumers to improve the speed, quality, and reliability of data analytics.',
  'output': 'DataOps는 데이터 관리 워크플로우를 자동화하고 간소화하기 위한 관행, 프로세스 및 기술의 집합입니다. 이는 데이터 관리자와 소비자 간의 데이터 흐름의 협업, 통합 및 자동화를 강조하여 데이터 분석의 속도, 품질 및 신뢰성을 향상시킵니다.'}]

In [19]:
#템플릿 생성
prompt_template = {
    "description": "Custom 템플릿",
    "prompt_input": (
        "명령에 따라 입력을 읽고 응답을 작성하세요\n\n"
        "### Instruction:\n{instruction}\n\n### Input:\n{input}\n\n### Response:\n"
    ),
    "response_split": "### Response:",
}

with open('custom.json', 'w', encoding='utf-8') as f:
    json.dump(prompt_template, f, ensure_ascii=False)

In [ ]:
!python finetune.py \
    --base_model 'decapoda-research/llama-7b-hf' \
    --data_path 'ko_alpaca_data.json' \
    --output_dir './output' \
    --num_epochs 5 \
    --learning_rate 5e-4 \
    --val_set_size 2000 \
    --batch_size 512 \
    --micro_batch_size 16 \
    --prompt_template_name 'custom'